.Navbar {
    height:3.75em;
    width: 100%;
    background-color: #1d95b7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    position: fixed;
    margin-bottom: 60px;
    min-width: 650px;
    z-index: 100;
   
    

}

.Navbar ul{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    list-style: none;
    justify-content:flex-start;
    width: fit-content;
    padding: 0px;
    height: 100%;
    align-items: center;
   
    
    
    
}
.Navbar ul li {
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    padding-left: 0.8em;
    padding-right: 1.2em;
    background-color: transparent;
  
    transition: background-color 180ms;

    
}
.Navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;

    
    text-align: center;
    background-color: transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Navbar ul li:hover{
    background-color: #0079c2; 

}
.logoimg{
    background-color: transparent;
    height: 3em;
    width:3em;
    border-radius: 50%;
    margin: 23px;
    
    cursor: pointer;
    
}
.searchimg{
    background-color: transparent;
    width: 25px;
    height: fit-content;

    cursor: pointer;
    margin-right:0.8em;
    padding-left: 0.5em;
    
    
}

.loginimg{
    background-color: transparent;
    width: 2.18em;
    height: fit-content;
    margin-right:0.8em;
    padding-left: 0.5em;

    cursor: pointer;
}

.downflecha{
    width:1.18em;
    height: fit-content;
    padding-top:7px;
}

#menusvgId{
    display:none;
}
#logopalabraId{
    display:none;
}

@media (width <= 1005px) {
    #itemHome{
        display:none;
    }
    #itemBoumatic{
        display:none;
    }
    
  }

  @media (width >= 1176px){
    .Navbar{
        
        justify-content: space-around;
    }
        .Navbar ul li a{
        text-decoration: none;
        color: black;
        font-size: 1.4em;
    
        
        text-align: center;
        background-color: transparent;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

  }

  @media (width <= 813px){
    .Navbar{
        background-color: #1d95b7;
    }
    #listaNavUl{
        display:none;
    }
    #logoId{
        display:block;
        
        
            background-color: transparent;
            height: 3em;
            width:3em;
            border-radius: 50%;
            margin: 0px;
            
            cursor: none;
            
        
    }
    #searchId{
        display:none;
    }
    #loginId{
        display:none;
    }
    #menusvgId{
       display:block;
       width:4em;
       color: white;
       padding-left: 0.2em;
       cursor:pointer;
    }
    #logopalabraId{
        display:flex;
        height: 2.4em;
        margin:auto 0px;
        padding: 0px;
        margin-left:-0.6em;
        
    }
    
  }